// ---- COMPONENTS ----- //
@use "components/fonts.scss";
@use "components/header";
@use "components/home-one-page/home";
@use "components/home-one-page/expertise-home";
@use "components/home-one-page/presentation-part-two";
@use "components/home-one-page/footer.scss";
@use "components/contact.scss";
@use "components/home-one-page/shooting-stars.scss";
@use "components/stars.scss";
@use "components/construct.scss";
@use "components/software_factory.scss";
@use "components/expertise.scss";
@use "components/project.scss";
@use "components/mobile.scss";
@use "components/tablet.scss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  .text-pink {
    color: #d53895;
  }
  .text-blue {
    color: #00cacc;
  }
  .text-purple {
    color: #890b9d;
  }
  .text-violet {
    color: #ab86be;
  }
  .font-arial {
    font-family: Arial, Helvetica, sans-serif;
  }
}

main {
  max-width: 2000px;
}

.container-btn-to-top{
  width:fit-content;
display: none;
  padding-top:0.6rem;
  padding-bottom:0.3rem;
  background-color: #360749;
  color:white;
  overflow: hidden;
  //height: fit-content;
  position: fixed;
  z-index: 9999999;
  bottom:0%;
  left:50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  a{
    text-decoration: none;
  }
  
}
