.bar-animation {
  height: 3px;
  background: linear-gradient(
    45deg,
    #d5336a,
    #d53b68,
    #d65363,
    #d7795b,
    #daae51
  );
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.fix-size-expertise {
  width: 25%;
}

.bar-anim:hover {
  .bar-animation {
    width: 90%;
  }
}

.img-expertise {
  width: 150px;
  margin-top: 4rem;
  transition: translate 420ms ease-in-out;
  &:hover {
    translate: 0px -40px;
  }
}

.img-expertise:hover {
  .bar-animation {
    width: 100%;
  }
}

.font-title-exp {
  font-weight: 700;
  font-size: larger;
  font-family: "Impact", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.3rem;
}
